body {
  margin: 10px;
  white-space: nowrap;
  font-family: 'Mukta', sans-serif;
  min-width: 250px;
}

h1 {
  font-size: 15px;
  margin: 0;
}

a, button {
  outline: 0;
}

.column-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#support-info {
  margin: 0 3px;
}

#request-support {
  font-size: 10px;
  text-align: center
}

#view-hidden {
  margin: 0 10%;
  font-size: 12px;
  text-align: center;
}

#doge-pic {
  margin: 5px;
  height: 19px;
}

#hide-post {
  margin-top: 5px;
  margin: 0 10px;
}

#post-status-descriptor {
  margin: 5px 0;
  text-align: center;
}
