#jobdoge-post {
  opacity: 1;
  position: relative;
  height: 100%;
}

#jobdoge-hidden-post {
  position: relative;
  transition: all 1s ease-out;
  background-color: lightgray;
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.jobdoge-remove {
  position: absolute;
  right: 10px;
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 20px;
  background-color: gray;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 2s;
}

.jobdoge-remove:hover {
  background-color: #DFDFDF;
}

.doge-msg {
  font-family: 'Comic Sans MS';
  position: absolute;
  z-index: 1;
  font-size: 44px;
  visibility: hidden;
  transition: transform 1s
}

.doge-msg-show {
  visibility: visible;
  transform: translateY(-1em) !important;
}

.jobdoge-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  padding-top: 25px; /* Location of the box */
  padding-bottom: 25px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
  display: block;
  transition: all 1s;
}

/* Modal Content/Box */
.jobdoge-modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top: 35px;
  border: 1px solid #888;
  width: 750px; /* Could be more or less, depending on screen size */
  transition: all 1s;
  animation-delay: 1s
}

.jobdoge-modal-open {
  visibility: visible;
  opacity: 1;
}

.jobdoge-modal-closed {
  visibility: hidden;
  opacity: 0;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#jobdoge-modal-container {
  height: 80vh;
  overflow: auto;
  padding: 0 20px;
}

#jobdoge-modal-container-header {
  padding: 0 20px;
}

.jobdoge-row {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
}

.jobdoge-row-date {
  flex: 1;
}

.jobdoge-row-job {
  flex: 4;
}

.jobdoge-row-company {
  flex: 1.5;
}

.jobdoge-row-unhide {
  flex: 1;
  display: flex;
  justify-content: center;
}

.jobdoge-row-header {
  font-weight: bold;
  text-align: center;
}

.jobdoge-fadeIn {
  animation: jobdoge-fadeIn .5s ease-in 1 forwards;
  -webkit-animation: jobdoge-fadeIn .5s ease-in 1 forwards;
}

@keyframes jobdoge-fadeIn {
  to {opacity: 1;}
}

@-webkit-keyframes jobdoge-fadeIn {
  to {opacity: 1;}
}
